.page-controller{
    background-color: rgb(248 251 255);
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 80%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.button-box{
display: flex;
align-items: center;
justify-content: center;
}

.pagination-box{
    /* width: 30%; */
display: flex;
align-items: center;
justify-content: space-between;
}

.page-select{
    width: 50%;
    display: flex;
    height: 50px;
    border: 1px solid #FF752920 ;
    background: #FFFFFF;
    border-radius: 8px;
}

.page-select h1{
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    justify-content: center;
    padding-left: 10px;
    opacity: 50%;
    font-weight: 50%;
}

.page-select .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: 100% !important;
    border: 1px solid #FF7529 !important;
    line-height: 12.5px;
    font-weight: 500;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 9px;
    position: relative;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    opacity: 50%;
    border-radius: 8px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* .page-controller div{
    display: flex;
    align-items: center;
    justify-content: center;
} */


