.alert-list{
    width: 90%;
     margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 1px;
}


.alerts-date {
    width: 14%;
    margin: auto;
    height: 54px;
    text-align: center;
    border-radius: 18px;
    box-shadow: 0px 12px 19px 1px #0000000d;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.alerts-date p{
    margin-top: 0;
    margin-bottom: 0em;
    font-family: Lexend;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
}



[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  margin-bottom: 20px;
  overflow: hidden;
  background: #f7f7f7;
  border: 0px;
  border-radius: 2px;
  color: #1479FF;
}


.alerts-list-body .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    right: 24px;
    left: auto;
    font-size: 24px;
    padding-top: 0px;
    color: #1479FF;
}


.alerts-list-body .ant-btn {
    line-height: 1.5715;
    position: relative;
    display: inline-block;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 1px solid transparent;
    box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
    height: 41px;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 8px;
    color: rgba(0, 0, 0, 0.85);
    background: #fff;
    border-color: #d9d9d9;
    margin: 10px;
}



.alerts-list-body .ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
    padding: 5px 8px;
    padding-right: 50px;
}


.panel-header-heading{
    height: 23px;
font-size: 18px;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
opacity: 0.6;
}
.panel-header-time{
    margin-top: 1px;
font-size: 14px;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
opacity: 0.5;
}

.header-aditional-information{
    height: 23px;
font-size: 18px;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
opacity: 0.6;
display: flex;
justify-content: center;
align-items: center;
height: auto;
padding-top: 8px;
}

.alerts-list-body .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    height: 44px;
    display: flex;
    align-items: center;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #1479FF;
    border: 1px solid #99E0F9
}

.header-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px
}

.alerts-list-body .site-collapse-custom-collapse {
    min-width: 900px;
}

.alerts-list-body .site-collapse-custom-collapse .ant-collapse-header-text {
    width: 70%;
}