.report-switch{
    display: flex;
    padding: 1%;
    border-radius: 6px;
    background-color: #eaeaea;
    height: 65px;
    width: 25%;
    margin: 0 2rem;
}

.report-switch-item{
    font-size: 18px;
    border-radius: 6px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9b9d9d;
    cursor: pointer;
}

.report-uploader-container{
    /* height: 50%; */
    margin: 2rem;
    margin-bottom: 0rem;
    /* overflow-y: scroll; */
}

.labreport-list-item{
    border-bottom: 1px solid #00000038;
    font-size: 1.5rem;
    padding: 1% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 10%;
}

.report-info-data-container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 6px;
    z-index: 300;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 2%;
}

.report-uploader-container .ant-upload-list.ant-upload-list-text {
    max-height: calc(100vh - 425px);
    overflow: auto;
}