/* .pagination-box {
  display: "inline-flex";
} */

.pagination-main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 19rem; */
  margin-left: 14px;
}

.total-page-box {
  text-align: center;
  width: 7.3125rem;
  position: relative;
  left: -13px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  border: 1px solid rgba(255, 117, 41, 0.2);
  background: white;
}

.total-page-box > h1 {
  font-size: 1rem;
  opacity: 0.6;
  margin: 0;
}

.pagination-box-length {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 14px;
}

.pagination-box-length .total-page-box {
  width: 8.5rem;
  left: 0;
  margin-left: 1rem;
  margin-right: -5px;
}
