.select-sensor-associate:not(.ant-select-customize-input) .ant-select-selector {
    padding-right: 45px;
}

.select-sensor-associate.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: #f5f5f587;
    color: #000;
}

.range-picker-device .ant-picker-input > input[disabled] {
    color: rgba(0, 0, 0, 0.25)!important;
}

.custom-input-disabled[disabled] {
    background: #f5f5f587;
    color: #000000a6!important;
}

.addPatchFormItem .ant-select-tags.ant-select-disabled .ant-select-selection-item {
    background: #fff;
    color: #000;
}